---
const service = "{{PROJECT_NAME}}";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{service}</title>
  </head>
  <body>
    <h1>{service}</h1>
    <p>Astro 6 + Postgres template.</p>
  </body>
</html>
